div {
    border-style: solid;
}

#instructionCard {
    display:block;
}

#questionCard {
    display:none;
}

.answer-choices {
    list-style-type: none;
    border-style: solid;
    height: 20px;
    margin: 5px;
}

#saveScoreCard {
    display: none;;
}

#highScoreCard {
    display: none;
}